USE [master]
GO
/****** Object:  Database [SearchEngine]    Script Date: 5/15/2022 1:01:11 AM ******/
CREATE DATABASE [SearchEngine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SearchEngine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SearchEngine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SearchEngine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SearchEngine_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SearchEngine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SearchEngine]
GO
/****** Object:  Table [dbo].[CountThreads]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountThreads](
	[id] [int] NOT NULL,
	[numOfThreads] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscoveredLinks]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveredLinks](
	[id] [int] NOT NULL,
	[url] [varchar](400) NOT NULL,
	[associatedUrl] [varchar](400) NOT NULL,
	[setActive] [bit] NOT NULL,
 CONSTRAINT [PK_DiscoveredLinks_1] PRIMARY KEY CLUSTERED 
(
	[url] ASC,
	[associatedUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexingWords]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexingWords](
	[word] [varchar](50) NOT NULL,
	[url] [varchar](400) NOT NULL,
	[title] [int] NULL,
	[h1] [int] NULL,
	[h2] [int] NULL,
	[h3] [int] NULL,
	[h4] [int] NULL,
	[h5] [int] NULL,
	[h6] [int] NULL,
	[i] [int] NULL,
	[b] [int] NULL,
	[p] [int] NULL,
 CONSTRAINT [PK_IndexingWords_1] PRIMARY KEY CLUSTERED 
(
	[url] ASC,
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[id] [int] NOT NULL,
	[url] [varchar](400) NOT NULL,
	[inbound] [int] NULL,
	[outbound] [int] NULL,
	[beginIndexing] [int] NULL,
	[endIndexing] [int] NULL,
	[rank] [int] NULL,
	[countWords] [int] NULL,
	[parsed] [bit] NULL,
 CONSTRAINT [PK_Link] PRIMARY KEY CLUSTERED 
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[savedSearch]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[savedSearch](
	[id] [int] NULL,
	[searchStem] [varchar](50) NOT NULL,
	[frequency] [int] NULL,
 CONSTRAINT [PK_savedSearch] PRIMARY KEY CLUSTERED 
(
	[searchStem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Threads]    Script Date: 5/15/2022 1:01:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Threads](
	[id] [int] NULL,
	[url] [varchar](400) NOT NULL,
	[threadId] [int] NULL,
 CONSTRAINT [PK_Threads] PRIMARY KEY CLUSTERED 
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
